<h1>Editing Clients Has Conjoint</h1>

<%= render 'form', clients_has_conjoint: @clients_has_conjoint %>

<%= link_to 'Show', @clients_has_conjoint %> |
<%= link_to 'Back', clients_has_conjoints_path %>
