<h1>Editing Clients Has Employeur</h1>

<%= render 'form', clients_has_employeur: @clients_has_employeur %>

<%= link_to 'Show', @clients_has_employeur %> |
<%= link_to 'Back', clients_has_employeurs_path %>
